body,
h1 {
  text-align: center;
  font-family: Arial, sans-serif;
}

#calendar {
  max-width: 900px;
  margin: 50px auto;
}

.button-container {
  display: flex;
  justify-content: center; /* 버튼들을 중앙에 정렬 */
  gap: 20px; /* 버튼 사이의 간격 */
}

.action-button {
  display: block;
  width: 120px; /* 버튼의 너비 */
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50; /* 버튼 배경색 */
  color: white; /* 버튼 글자색 */
  border: none;
  border-radius: 5px; /* 버튼 모서리 둥글게 */
}

.action-button:hover {
  background-color: #45a049; /* 호버 시 버튼 배경색 변경 */
}

.statistics {
  text-align: center;
  margin-top: 20px;
}
